

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family:sans-serif;
  box-sizing: border-box;
}

body{
    background: #fefefe;
}

 /* Fillimi i navigimit */

header{
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;

}

.tech{
    color: red ;
}


.nav-bar ul {
    display: flex;
  
    
}




.nav-bar ul li a{

    display: block;
    
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: white;
    background : rgba(255, 0, 0, 0.689) ;
}

.nav-bar ul li a.active{
    color:#11101b;
    background: #fefefe;
}

.icons  a.active{
  color:#11101b;
  background: #fefefe;
}




.icons a {
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px ; 

}
.icons a:hover{
    color: white;
    background : rgba(255, 0, 0, 0.689) ;
}

/* Perfundimi i navigimit */


/* Mbarimi i  reklames se pare */

/* Fillimi i  reklames se dyte */



.reklamaa2{
  display: inline-block;
  margin:50px 50px;

}

 #slider{
  

  border-top-left-radius: 5px dashed ;
  border-top-right-radius: 5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius: 5px;
  display: flex ;
  width: 570px;
  height: 570px;
  margin: 0 320px 75px; 
  padding: 25px;
  
  

} 

.butoni-blej {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background:rgb(147, 10, 10) ;
  margin-left: 573px ;
  margin-top: 25px;
  margin-bottom: 78px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  

}
/* Mbarimi i reklames se dyte  */

/* Fillimi i reklames se trete  */


.reklama3 {
    display: flex;
}
  
.kompanite{
    
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 200px;
    font-size: x-large;
    
}



.kompania {
    flex: 33.33%;
    padding: 25px;
}

/* Mbarimi i reklames se trete  */


/* Fillimi i footerit  */


.footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
  }
  
  .footer-column {
    width: 25%;
    margin-right: 20px;
   
    
  }
  
  .footer h4 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

  }
  
  .footer li {
    margin-bottom: 5px;

  }
  
  .footer a  {
    color: gray;
    text-decoration: none;
  }

  .footer-column{
    color: gray;
  }


  /* Mbarimi i footerit  */




  /* faqja e produkteve */




  .mbajtesi-produkteve{
    max-width: 1130px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 100px;
  
}
.mbajtesi-produkteve .kartat{
    width: calc(33% - 13px);
    border-radius: 3px;
    background: #fff;
    transition: all 0.3s ease;
}
.mbajtesi-produkteve .kartat img{
    width: 100%;
    border-radius: 3px;
}
.mbajtesi-produkteve .kartat .permbajtja-produkteve{
    padding: 10px 20px 22px 20px;
}
.mbajtesi-produkteve .kartat .permbajtja-produkteve{
    padding: 10px 20px 22px 20px;
}
.kartat .pershkrimi-produkteve{
    padding: 10px 20px 22px 20px;
}
.pershkrimi-produkteve .cmimi-produkteve{
    font-size: 19px;
}
.pershkrimi-produkteve .cmimi-produkteve{
    display: flex;
    justify-content: space-between;
}
.permbajtja-produkteve span{
    font-size: 22px;
    font-weight: 700;
}
.permbajtja-produkteve p{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 400;
}
.pershkrimi-produkteve .butoni-shporta{
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
}
.pershkrimi-produkteve .butoni-shporta button{
    /* width: 45%; */
    padding: 10px 0;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
    border: 2px solid black;
    background: #fff;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.titujt{
  color:rgb(147, 10, 10) ;
}


.zbritje p {
  text-decoration: line-through;
}

.butoni-shporta button:first-child{
    margin-right: 10px;
}



.butoni-shporta button:last-child{
    background:black;
    color: #fff;
    margin-left: 120px;
}
.butoni-shporta button:hover{
    background:rgb(147, 10, 10) ;
    color: #fff;
}
 @media (max-width: 1080px){
    .mbajtesi-produkteve .kartat{
        width: calc(33% - 20px);
    }
}
@media (max-width: 680px){
    .mbajtesi-produkteve .kartat{
        width: 100%;
        margin-bottom: 20px;
    }
} 



  


 /* Mbarimi i faqes se produkteve */

 /* Fillimi i faqes rreth nesh */





.mbajtesi-rrethnesh{
  width: 100%;
  padding:  78px 0px;
  background-color: white;

}

.mbajtesi-rrethnesh img{
  height: 450px;
  width: 500px;

}

.mbajtesi-rrethnesh-text{
  width: 550px;
}

.permbajtja-rrethnesh{
  width:1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.tekstet-rrethnesh h1{
  color: black;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;

}

.tekstet-rrethnesh h5{
  color: black;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px'
}



.tekstet-rrethnesh p{
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  text-align: justify
}


 /* Mbarimi i faqes rreth nesh */


 /* Fillimi i faqes kontakti */



 .permbajtja-kontakti{
  margin: 40px;
 }



#komp{
  height: 230px;
  margin-top: 175px;
  width: 490px;
  border-radius: 10px;
}

.contact-infos{
  
  margin-left: 75px;
  margin-right: 900px;
  margin-top: 150px;
  margin-bottom: 20px;
  background: black;
}

.infos{
  display: flex;
  width: 445px;

}

.infos p {
  display: inline;
  text-align: center;
  color:rgb(255, 0, 0) ;
   margin-top: 33px;
  margin-left: 33px;
  font-size: large;
}


.comp-infos{
  color: white;
}




.infos img{
  margin: 18px 38px;
}






.kontakt-forma{
  width: 85%;
  max-width: 600px;
  background: black;
  position: relative;
  top: 58%;
  left: 70%;
  transform: translate(-50%,-70%);
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat",sans-serif;
}
#prapavija-formave{
  background: white;
}



.kontakt-forma h1{
  margin-top: 0;
  font-weight: 200;
  color: white;
}
.tekst-infot{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}
.tekst-infot label{
  display: block;
  text-align: left;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 14px;
}
.tekst-infot input,.tekst-infot textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
  
}
.dergo{
  display: inline-block;
  background:rgb(202, 15, 15) ;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}


/* Mbarimi i faqes kontakti */


/* Fillimi i faqes kycuni - regjistrohuni */

.formakr{

  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: white;
  padding: 5px;
  overflow: hidden;
  border: 4px solid black;
}

.butonatkr{
  width: 243px;
  margin: 55px auto;
  position: relative;
  box-shadow: 0 0 1px 2px black;
  background: white;
  border-radius: 30px;
  
}

.nderrimibutonave{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: black;
}

#butonikr{
  top:0;
  left: 0;
  position: absolute;
  width: 134px;
  height: 100%;
  background: rgb(228, 27, 27) ;
  border-radius: 30px;
  transition: .5s;
}

.input-grupi{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

.input-fusha{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0 ;
  border-right: 0;
  border-bottom: 0;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

.butoni-submit{
  width: 50%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: rgb(228, 27, 27) ;
  border: 0;
  outline: none;
  border-radius: 30px;
}

#butoni-kycu{
  margin-top: 40px;
}


.tick-kutia{
  margin: 30px 4px 30px 0;
}

.tickkr{
  color: black;
  font-size: 12px;
  bottom: 64px;
  width: max-content;
  
  position: absolute;
}


#kycuni{
  left: 50px;
}

#regjistrohuni{
  left: 450px;
} 


 /*Mbarimi i faqes kycuni - regjistrohuni */